<main class="main top-main">
    <div class="top-message">
        <h2>Mendellian Disease Calculator</h2>
        <h1>Choose input method</h1>
    </div>
    <div class="option">
        <%= link_to "Genotype from DNA Test", genotype_calculator_path %>
        <%= link_to "Phenotype", phenotype_calculator_path %>
    </div>
</main>