<main class="main top-main">
    <div class="top-message">
        <h2>Nama aplikasi</h2>
        <h1>Pilih metode input data</h1>
    </div>
    <div class="option">
        <%= link_to "Genotip hasil tes DNA", genotype_calculator_path %>
        <%= link_to "Fenotip", phenotype_calculator_path %>
    </div>
</main>