<header>
    <nav class="header-menus">
        <ul>
            <% unless request.path == root_path %>
                <li class="header-logo">
                    <%= link_to 'Home', root_path %>
                </li>
            <% end %>
            <li><%= link_to 'Concept', concept_path %></li>
            <li><%= link_to 'How to Use', howtouse_path %></li>
        </ul>
    </nav>
</header>
